*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.html{
    font-size: 10px;
}
.p-center{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.flex-center{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
.header{
    height:100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.1)),url("https://images.unsplash.com/photo-1501785888041-af3ef285b470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.header .container{
    padding-top: 1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.header .container a{
    font-family: sans-serif;
    font-size: 2.7rem;
    font-weight: 600;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: 0;
}
.header .container .login-btn{
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 1.5rem;
    width: 7rem;
    border-width: 2px;
}
.header h1 , .header p{
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
.container + div{
    position: relative;
    top:50%;
    transform: translateY(-110%);
}
.input-group{
    width: 85% !important;
    max-width: 50rem;
    border-radius: 2rem;
    border: none !important;
    background-color: #fff;
}
.input-group input{
   border-radius: 2rem 0 0 2rem;
   border: none;
   font-size: 1.2rem;
}
.input-group button{
    width: min(10rem,40%) !important;
    border-radius:2rem !important;
    border: none;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    color: #fff;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 2;
    font-weight: 600;
    box-sizing: border-box !important;
 }
 ::placeholder{
     color: #000 !important;
     font-size: 1.2rem;
 }

 /* features section start */
 .features{
     padding: 6rem 0;
 }
 .features h1{
     color: #111;
 }
 .features .card{
     max-width: 48rem;
     border: none !important;
     border-radius: 0 !important;
     box-shadow: 0.2rem 0.2rem 0.3rem #cecece;
     margin: 1rem auto;
 }

 .features .card-text{
     text-align: justify;
     word-spacing: 0.5rem;
     font-size: 1rem;
     font-weight: 400;
     min-height: 1rem !important;
 }
 .features .img-container{
     position: relative;
 }
 .features .img-container > div{
     overflow: hidden;
 }
 .features .img-container img{
     transition: 1s;
 }
 .features .img-container:hover img{
     transform: scale(1.5);
 }
 .features .price{
    position: absolute;
    top: 100%;
    left: 1.5rem;
    transform: translateY(-55%);
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #ffa500;
 }
 .features .rating{
     position: absolute;
     bottom: 0;
     right:0;
     padding:0.2rem 0.4rem;
     background-color: #fff;
     color: #ffa500;
 }
.features .state .fa-solid,.features .state .fa-regular{
    color: #ffa500;
}
 /* features section end */
 /* gallery section start */
    .gallery{
        padding: 6rem 0;
        background:#eee;
    }
    .gallery .gallery-box{
        border-radius: 16px !important;
        overflow: hidden;
        position: relative;
        margin: 1rem auto;
        max-width:30rem ;
    }
    .gallery .gallery-box h4{
        font-size: 19px !important;
        width: 90%;
        text-align: center;
        color: #fff;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
    }
    .gallery .gallery-box a{
        display: block;
        width: 100%;
        height: 100%;
        transition: 1s;
    }
    .gallery .gallery-box a:hover{
        transform: scale(1.3);
    }
 /* gallery section end */
 /* banner section start */
 .banner{
        padding:6rem 0;
        width: 100%;
        height:50vh;
        min-height:350px;
        background-image: url("https://images.unsplash.com/photo-1502003148287-a82ef80a6abc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
 }
 .banner .banner-highlights{
     width: 100%;
     height:50%;
     min-height:180px !important;
     padding: 1rem;
     text-align: center;
     background-color: #1118;
     color:#fff;
     font-size: 1.1rem;
 }
 .banner .banner-highlights p{
     margin-bottom: 0;
 }
 .banner button{
     background-color: transparent;
     border: 2px solid #fff;
     color: #fff;
     border-radius: 40px;
     padding: 0.5rem 1rem;

 }
 /* banner section end */
 /* user-feedback section start */
 .user-feedback{
     padding: 6rem 0;
     text-align: center;
 }
 .user-feedback .box{
     max-width: 350px;
     margin: auto;
     overflow: hidden;
  }
.user-feedback .user-review{
    padding:2rem 1rem 38px;
    box-shadow: 3px 3px 0.5px #888;
    background-color: #efefef;
    color: #111;
}
.user-feedback .user-review h5{
    margin-bottom: 0.5px;
    margin-top:1rem ;
}
.user-feedback p{
    position: relative;
    padding:0 0.8rem 0 0.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    quotes: "“" "”";
}
.user-feedback p::before{
    content: open-quote;
    position: absolute;
    top: 0;
    transform: translate(-100%,calc(-30% + 5px));
}
.user-feedback p::after{
    content: close-quote;
    position: absolute;
    bottom: 0;
    transform: translate(0px,3.8rem);
}
.user-feedback p::before ,.user-feedback p::after{
    font-size: 5rem;
    color: #888a;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}


.user-feedback img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(-50%);
}
 /* user-feedback section end */
 /* footer section start */
 .footer{
     padding:5rem 20px 0;
     background: #00001a;
     color: #fff;
 }
 .footer .box i{
     padding-right: 1rem;
 }
 .footer .box:nth-child(n+2) p,.footer .box:nth-child(n+2) h4{
     padding: 1px 0.5rem;
 }
 .footer .box:nth-child(n+2) p:hover{
     background-color: #ccc;
     color:#000;
 }
 .footer h4{
     margin-bottom: 1rem;
     color: #fffe;
 }
 .footer hr{
     margin-top: 1rem;
     background-color: #aaa;
     padding: 1px;
 }
 .footer hr + p{
     text-align: center;
 }
 .footer hr + p .fa-solid{
     margin: 0 5px !important;
     color: #ff0055 !important;
 }

 /* footer section end */

 @media screen and (max-width:767px){
     html{
         font-size: 9px;
     }
     .header .container .login-btn{
         height: 25px;
         text-align: center;
     }
     .features .card .img-container{
         font-size: 2rem !important;
     }
     .features .price{
         padding: 1rem;
     }
     .features .card .card-body{
         margin-top: 2rem !important;
         font-size: 1.5rem !important;
     }
     .features .card .card-body h5{
            font-size: 1.8rem !important;
     }
     .features .card .card-body p{
        font-size: 1.7rem !important;
     }
     .banner.container{
         padding: 0 1rem !important;
     }
     .banner h2{
         font-size: 20px;
     }
     .banner p{
        font-size: 15px;
    }
    .banner button{
        font-size: 12px;
        margin-top: 1rem;
        padding: 0 10px 2px;
        height:30px;
        text-align: center;
        line-height: 30px;
    }
    .user-feedback p{
        font-size: 1.7rem;
    }
    .user-feedback h5{
        font-size: 1.8rem;
        padding-bottom: 4px !important;
    }
    .user-feedback small{
        font-size: 1.1rem;
    }
    .user-feedback p::after{
        transform: translate(0,3rem);
    }
    .footer p{
        font-size: 1.9rem;
    }
    .footer h4{
        font-size: 2.1rem;
    }
 }
 @media screen and (max-width:240px){
    .banner .banner-highlights{
        padding: 2rem !important;
    }
 }